# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
venv*/
.venv/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# PyTorch / ML models (large files)
*.pt
*.pth
*.onnx
models/
runs/
wandb/

# Datasets (large files)
datasets/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
